/*to test website if it good use for a phone: 
https://search.google.com/test/mobile-friendly 

app brewery course resources download::
https://www.appbrewery.co/p/web-development-course-resources */
body{
    font-family: "Poppins", sans-serif;
    
}

h1, h2, h3{
    font-family: "Poppins", sans-serif;

}
h1{
    
    /* rem means font size of the root element */
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bolder;
}
/* 
h2{
    
    font-size: 3rem;
    /*give the text space
    line-height:1.5;
    
} */

h3{
   
    font-size: 1.5rem;
    font-weight: bolder;
}

p{
    color:#8f8f8f;
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

#title{
    background-color: #ff4c68;
     /* #000 is black */
    color: #fff;   
}



.container-fluid{
    /*3%for top and botom, 15%for left and right 是css中的一种相对长度单位。
    margin是盒子的外边距，即盒子与盒子之间的距离，而padding是内边距，是盒子的边与盒子内部元素的距离。*/
    padding: 3% 15% 7%;
}


/*Navigation Bar*/

.navbar{
    padding: 0 0 4.5rem; 
}

.navbar-brand{
    font-family: "Ubuntu";
    /* 2.5 * 18px = 45px;*/
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    /*left and riht have 18px space*/
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}

/*Download Buttons*/

.download-button{
    /*top right left bottom*/
    margin: 5% 3% 5% 0;
}

/* title image */

.title-image{
    width: 30%;
    /*search on google: rotate image css
    https://developer.mozilla.org/zh-CN/docs/Web/CSS/transform-function/rotate*/
    transform: rotate(25deg);

    /*position：absolute这个是绝对定位； 是相对于浏览器的定位。
     比如：position：absolute；left:20px;top:80px; 
     这个容器始终位于距离浏览器左20px,距离浏览器上80px的这个位置。 
     position：relative是相对定位，是相对于前面的容器定位的。*/
    position: absolute;
    /*right: 15%;

    change picture in different layer */
    
}

/*features section*/

#features{

    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;

}

.feature-box{
    /*word in center*/
    text-align: center;
    padding: 5%;
}

.fas{
    color: #ef8172;
    margin-bottom: 1rem;
}

.fas:hover{
    color: #ff4c68;
}

/* testimonials section
a{
    font-weight: bolder;
}*/

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}
#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color:#fff;

}

.testimonial-image{
    /* change the picture size small*/
    width: 10%;
    /* change the dog picture become circle*/
    border-radius: 100%;
    margin: 20px;

}

.carousel-item{
    /*change the left and right botton for slide*/
    padding: 7% 15%;

}


/* Press section for the 4 logos under the cicle dog pic*/
#press{

    background-color: #ef8172;
    text-align: center;

}

.press-logo{
    width: 15%;

    /*top 0, left and right is 20, bottom is 80*/
    margin: 0 20px 60px;
    
}

/* pricing section */

#pricing{
    padding: 100px;
    text-align: center;
    font-weight: bolder;
    /*give the text space*/
    line-height:1.5;
}

.price-test{
    font-size: 3rem;
}

.pricing-column{
    padding: 3% 2%;
    line-height: 1.5;

}
.bb{
    padding-left: 80px;
    padding-right: 80px;
    
}



@media(max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);

    }
}


/*Call to Action */

#cta{
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
}

.h3-word{
    font-family: "Poppins", sans-serif;
    font-size: 2.0rem;
    text-align: center;
    padding: 80px 0 0px;
}

#footer{
    padding: 7% 15%;
    text-align: center;
}
.social-icon{
    margin: 20px 10px;
}
